<!-- header section-->
<header role="banner" class="header">
  <div class="container">
    <div class="rowNew ">
      <div class="col-auto mr-auto">
        <img class="navbar-brand d-flex align-items-center genesys-logo" src="/images/GEN_logo.svg"
          alt="genesys-logo" />
        <nav class="nav spacer-inner-tb-20" role="navigation">
          

          <!--a class="nav-item" href="explore.html" role="link"> Explore </a-->
        </nav>
        
      </div>
      
    </div>
  </div>
  
</header>

<!-- hero image section -->
<section class="hero-image" role="banner">
  <!-- hero image container -->
  <div class="container">
    <div class="row">
      <div class="col-12 order-12 order-sm-1 col-sm-8">
        <h1 class="title-1 text-blue" role="heading" id="headlineText"><br><br>NOTICE: <br><br><br> ALL WORKSHOP CONTENT HAS BEEN MOVED</h1>
        <p class="text-md-white" id="headerParagraphText"><br><br><br><br>
          Please navigate to <a href="https://gdemo.demo.genesys.com/demoscripts">GDemo Scripts</a> to see workshops and other demo scripts
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="col-12 order-1 order-sm-12 col-sm-4 text-center">
        <img src="/images/banner/Genesys-Gear.svg" alt="About" class="image-icon" role="img" />
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Get URL
  var url = window.location.href;
  // Get DIV
  var headerParagraphText = document.getElementById('headerParagraphText');
  var headlineText = document.getElementById('headlineText');
  // Check if URL contains the keyword
  if (url.search('sp') > 0) {
    // Display the message
    //msg.style.visibility = "hidden";
    headerParagraphText.textContent = "Este sitio web es un recurso dedicado a talleres y módulos de formación creados por los equipos de Genesys. Los talleres le enseñarán cómo construir la base de una experiencia del cliente empática, proporcionada a través de la Experiencia como Servicio℠ (Experience as a Service℠). Si bien es posible gracias a la tecnología, la Experiencia como Servicio no se consigue únicamente a través de la tecnología. También es un compromiso que usted asume en toda su empresa por el bien de sus empleados, por el bien de sus clientes y por el bien de su empresa.";
    headlineText.textContent = "Experiencia como servicio℠";
  }
  else if(url.search('pt') > 0){
    headerParagraphText.textContent = "Este site é um recurso dedicado para workshops selecionados e módulos de treinamento criados pelas equipes da Genesys. Os workshops ensinarão como construir a base de uma experiência empática para o cliente — fornecida por meio da Experiência como Serviço℠. Embora seja habilitada pela tecnologia, a experiência como serviço não acontece apenas por meio da tecnologia. É também um compromisso que você faz em toda a sua empresa para o bem de seus funcionários, para o bem de seus clientes e para o bem de seus negócios.";
    headlineText.textContent = "Experiência como serviço℠";
  }
</script>
