<!-- highlights section -->
<section class="highlights-section" role="banner">
    <div class="container">
      <div class="row">
        <!-- single highlight item -->
        <div class="col-12 col-sm-4 d-flex">
          <div class="float-left">
            <img src="/images/icons/Genesys-workshops.svg"
              alt="{{ len (where .Site.RegularPages "Section" "==" "card") }} workshops and growing"
              title="{{ len (where .Site.RegularPages "Section" "==" "card") }} workshops and growing" role="img" />
          </div>
          <div class="hightlight-section-content align-self-center">
            <h6 role="heading" id="workshopsNumberText">{{ len (where .Site.RegularPages "Section" "==" "card") }} workshops and growing</h6>
            <p id="workshopsNumberTextDesc">New workshops and content added frequently</p>
          </div>
        </div>
        <!-- mobile specific block-->
        <div class="w-100 d-inline d-sm-none d-block border-bottom border-bottom spacer-mob-sm"></div>
        <div class="col-12 col-sm-4 d-flex">
          <div class="float-left">
            <img class="" src="/images/icons/Genesys-experts.svg" alt="Created by experts" title="Created by experts"
              role="img" />
          </div>
          <div class="hightlight-section-content align-self-center">
            <h6 role="heading" id="createdByHeadline">Created by experts</h6>
            <p id="createdByText">Created by specialists in the field from Genesys</p>
          </div>
        </div>
        <div class="w-100 d-inline d-sm-none d-block border-bottom border-bottom spacer-mob-sm"></div>
        <div class="col-12 col-sm-4 d-flex">
          <div class="float-left">
            <img class="" src="/images/icons/Genesys-anywhere.svg" alt="Avaliable for access anywhere"
              title="Avaliable for access anywhere" role="img" />
          </div>
          <div class="hightlight-section-content align-self-center">
            <h6 role="heading" id="availableHeadline">Available for access anywhere</h6>
            <p id="availableText">Globally available without restriction and mobile friendly</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    // Get URL
    var url = window.location.href;
    // Get DIV
    var workshopsNumberText = document.getElementById('workshopsNumberText');
    var workshopsNumberTextDesc = document.getElementById('workshopsNumberTextDesc');
    var createdByHeadline = document.getElementById('createdByHeadline');
    var createdByText = document.getElementById('createdByText');
    var availableHeadline = document.getElementById('availableHeadline');
    var availableText = document.getElementById('availableText');
    // Check if URL contains the keyword
    if (url.search('sp') > 0) {
      // Display the message
      //msg.style.visibility = "hidden";
      workshopsNumberText.textContent = '{{ len (where .Site.RegularPages "Section" "==" "card") }} talleres y creciendo';
      workshopsNumberTextDesc.textContent = 'Nuevos talleres y contenido añadido con frecuencia';
      createdByHeadline.textContent = 'Creado por expertos';
      createdByText.textContent = 'Creado por especialistas en la materia de Genesys';
      availableHeadline.textContent = 'Disponible para acceder desde cualquier lugar';
      availableText.textContent = 'Disponible globalmente sin restricciones y compatible con dispositivos móviles';

    }
  </script>