
  <script type="text/javascript">
    // Get URL
    var url = window.location.href;
    // Get DIV
    var workshopsNumberText = document.getElementById('workshopsNumberText');
    var workshopsNumberTextDesc = document.getElementById('workshopsNumberTextDesc');
    var createdByHeadline = document.getElementById('createdByHeadline');
    var createdByText = document.getElementById('createdByText');
    var availableHeadline = document.getElementById('availableHeadline');
    var availableText = document.getElementById('availableText');
    // Check if URL contains the keyword
    if (url.search('sp') > 0) {
      // Display the message
      //msg.style.visibility = "hidden";
      workshopsNumberText.textContent = '{{ len (where .Site.RegularPages "Section" "==" "card") }} talleres y creciendo';
      workshopsNumberTextDesc.textContent = 'Nuevos talleres y contenido añadido con frecuencia';
      createdByHeadline.textContent = 'Creado por expertos';
      createdByText.textContent = 'Creado por especialistas en la materia de Genesys';
      availableHeadline.textContent = 'Disponible para acceder desde cualquier lugar';
      availableText.textContent = 'Disponible globalmente sin restricciones y compatible con dispositivos móviles';

    }
    else if(url.search('pt') > 0) {
      workshopsNumberText.textContent = '{{ len (where .Site.RegularPages "Section" "==" "card") }} workshops e crescendo';
      workshopsNumberTextDesc.textContent = 'Novos workshops e conteúdos adicionados com frequência';
      createdByHeadline.textContent = 'Criado por especialistas';
      createdByText.textContent = 'Criado por especialistas da área da Genesys';
      availableHeadline.textContent = 'Disponível para acesso em qualquer lugar';
      availableText.textContent = 'Disponível globalmente sem restrições e compatível com dispositivos móveis';
    }
  </script>